CASE_LIBRARY_RELEASE_VERSION=development
CASE_LIBRARY_APP_IMAGE=ghcr.io/littledrinks/case-library-app:latest
CASE_LIBRARY_FRONTEND_IMAGE=ghcr.io/littledrinks/case-library-frontend:latest
CASE_LIBRARY_MONGO_INIT_IMAGE=ghcr.io/littledrinks/case-library-mongo-init:latest
CASE_LIBRARY_MEILISEARCH_IMAGE=ghcr.io/littledrinks/case-library-meilisearch:latest
